{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title. Html</title>
</head>
<body>
    <h1>James Hester</h1>
    <h2>I love Coding</h2>
        <p>My <strong>Favorite Languages</strong> are: <em>Python,MySQL, and VBA.</em> I am glad the great professors within
        The IS department at the Smith school taught me them.</p>
    <h2>I love Sports and Movies</h2>
        <p>My Favorite Sports </p>
            <ul>
                <li>Golf</li>
                <li>Tennis</li>
                <li>Basketball</li>
            </ul>
        <p>My Favorite Movies</p>
            <ol>
                <li>MidSommar</li>
                <li>Hereditary</li>
                <li>Shutter Island</li>
                <li>The Godfather</li>
            </ol>
<!-- Above I have created 3 headers with one main header being my name. Below the smaller headers Ive provided paragraphs that describe the headers. -->
    <h2>Course History</h2>
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Fall 2022</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2022</td>
            </tr>
            <tr>
                <td>BMGT495</td>
                <td>Spring 2022</td>
            </tr>
        </table>
    <!-- Above I created a table with 3 Rows and 2 Columns. -->

    <h2>My Favorite Links</h2>
    <p>A link to my <a href="/hello">Welcome Page</a>.</p>
    <p>A link to my <a href="https://espn.com">Favorite site</a></p>
    <p>A link to my <a href="https://Netflix.com" target="_blank">Second Favorite site</a></p>

<p>Here is an Image of my Schools Logo!</p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo" >
<!-- Above I have created 3 hyperlinks with one automatically opening a new tab for the user. Also I uploaded an image. -->

</body>
</html>